{% extends 'blog/baseAfterLogin.html'%}
{%block content%}

		<ul>
	  	
	  	<h1>{{wanted_post.title}}</h1><br>
	  	{{wanted_post.body}}<br>
	  	</li>
	</ul>

		</a>
<h4>Comments</h4>
{% for com in comments %}

	Author: {{ com.author }}<br/>
	Body: {{ com.body }}<br/>
	Date Created: {{ com.created }}<br/>
	Date Updated: {{ com.updated }}<br/>
<div>
	<a href="/blog/comments/{{ com.id }}/edit">Edit Comment</a>
</div><br/>
{% endfor %}
<h3>New comment:</h3>
<div>
<form method='post' action="">
{{form.as_p}}
<input type='submit' name='Submit'>
</form>
</div>	
{%endblock%}
